---
export const prerender = true;

import Layout from "~/layouts/PageLayout.astro";

import Header from "~/components/widgets/Header.astro";
import { headerData } from "~/data";
import { Image } from "astro:assets";

import mileImage from "../../../assets/images/milestone.png";

const meta = {
  title: "마일스톤",
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header {...headerData} isSticky />
  </Fragment>

  <div class="flex items-center justify-center">
    <Image src={mileImage} alt="milestone image" />
  </div>
</Layout>
